/*General Styles*/
body{
	background-image: url("img/background-photo.jpeg");
	font-family: 'Poppins', sans-serif;
	color: white;
	width: 100%;
	min-height: 100vh;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
nav{
	display: flex;
	height: 100%;
	flex-direction: column;
	align-items: center;
}
a{
	padding: 50px 10px;
}
h2{
	margin: 5px;
}

/*Specific Styles*/
.name{
	font-size: 10px;
}
.wrapper{
	display: flex;
	justify-content: space-between;
	flex-grow: 1;
}
.side-bar{
 	width: 160px;
	background-color: rgba(92, 247, 240, 0.3);
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-content: center;
}
.My-picture{
	border-radius: 50%;
	width: 80%;
}
.main{
	font-size: 30px;
	display: flex;
	flex-direction: column;
	height: 400px;
	align-items: center;
	text-align: center;
	padding: 30px;
}
.titleLink{
	font-size: 20px;
	color: white;
	text-decoration: none;
	padding: 0px;
}
.titleLink:hover{
	text-decoration: underline;
}
.hangmanDescription{
	font-size: 14px;
}
.hangmanScreen{
	max-width: 80%;
}
.upperSide{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
@media screen and (max-width: 600px){
	.wrapper{
		flex-direction: column;
	}
	.side-bar{
		flex-direction: row;
		height: 80px;
		width: 100%;
		justify-content: center;
	}
	nav{
		flex-direction: row;
		justify-content: center;
	}
	a{
		padding: 10px
	}
	.name{
		display: none;
	}
	.My-picture{
		height: 80%;
		width: 60px;
		margin: 10px;
	}
}