/*General Styles*/
html {
	scroll-behavior: smooth;
}
body{
	background-image: url("./img/large-leather.png");
	background-color: #234645;
	font-family: 'Poppins', sans-serif;
	color: white;
	width: 100%;
	min-height: 100vh;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
nav{
	display: flex;
	height: 100%;
	flex-direction: column;
	align-items: center;
}
a{
	padding: 50px 0px;
	text-decoration: none;
	color: white;
	width: 100%;
	text-align: center;
}
.side-bar a:hover{
	background:  rgba(92, 247, 239, 0.425);
}
h2{
	margin: 5px;
}
footer{
	font-size: 12px;
	margin-top: 30px;
}

/*Specific Styles*/
.name{
	font-size: 10px;
}
.about{
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100vh;
}
.wrapper{
	display: flex;
	justify-content: space-between;
	flex-grow: 1;
}
.side-bar{
 	width: 120px;
	background-color: rgba(92, 247, 240, 0.3);
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-content: center;
	position: fixed;
	animation: slideIn;
    animation-duration: 1s; 
}
.My-picture{
	margin-top: 10px;
	border-radius: 50%;
	width: 80%;
}
.main{
	font-size: 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	padding: 0 100px;
	margin-left: 120px;
	animation: fadeInOpacity;
    animation-duration: 2s; 
}
.titleLink{
	font-size: 20px;
	color: white;
	text-decoration: none;
	padding: 0px;
}
.titleLink:hover{
	text-decoration: underline;
}
.hangmanDescription{
	font-size: 14px;
}
.hangmanScreen{
	max-width: 80%;
}
.upperSide{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.brand{
	font-size: 14px;
	font-style: italic;
}
.picture{
	padding: 0px;
}
/* Animations */
@keyframes slideIn{
    0% {transform: translate(-120px, 0)}
    100% {transform: translate(0, 0)}
}
@keyframes fadeInOpacity {
    0% {opacity: 0;}
    50% {opacity: 0;}
	100% {opacity: 1;}
}

/* For Phones */
@media screen and (max-width: 600px){
	.wrapper{
		flex-direction: column;
	}
	.side-bar{
		flex-direction: row;
		height: 80px;
		width: 100%;
		justify-content: center;
		z-index: 1;
		background-color: #3f7a78;
	}
	nav{
		flex-direction: row;
		justify-content: center;
	}
	a{
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 0 20px;
		height: 100%;
	}
	.name{
		display: none;
	}
	.My-picture{
		height: 80%;
		width: 60px;
		margin: 10px;
	}
	.main{
		margin-top: 80px;
		margin-left: 0px;
	}
	@keyframes slideIn{
		0% {transform: translate(0, -80px)}
		100% {transform: translate(0, 0)}
	}
}